openapi: 3.1.0

info:
  title: Halyard API
  version: 0.1.0
  description: |
    The public REST surface, `api`. Paths and their semantics come from SPEC 7.1;
    resource shapes come from the SPEC 6 DDL.

    **Scope policy.** SPEC 7.1 lists every path in the product but specifies
    request and response bodies for none of them. This file therefore contains
    only the endpoints whose payloads the specification actually determines —
    the phase 0 and phase 1 surface. Later phases add their own paths in the
    task that implements them. Writing speculative bodies for the phase 6 ads
    endpoints now would be inventing an API surface, which SPEC 0 rule 5
    forbids, and would be churned rather than used.

    Endpoints specified in SPEC 7.1 and deliberately absent until their phase:
    tree/blob/file/diff and timeline/restore (phase 2), deployments and domains
    (phase 3), credits and the ledger (phase 4), capabilities, repo and
    proposals (phase 5), ads and seo (phase 6), and the webhook and relay
    receivers.

    **Conventions.**
    - Every mutating endpoint accepts `Idempotency-Key` (SPEC 7.1). Replaying a
      key returns the original response rather than acting twice, which is what
      makes a retry after a timeout safe (SPEC 17.2).
    - Errors use the envelope in `common.schema.json`: a stable `code` to branch
      on, a `message` saying what happened, and a `fix` saying what to do about
      it (SPEC 10, 18).
    - Every request resolves to (user_id, org_id, role) in one middleware, never
      inline (SPEC 8).

servers:
  - url: https://api.halyard.dev/v1

security:
  - sessionCookie: []
  - bearerToken: []

tags:
  - name: auth
  - name: orgs
  - name: projects
  - name: sessions

paths:
  # SPEC 7.1 lists no /auth paths, but SPEC 8 requires email magic link and
  # Google OAuth sign-in, and 7.1 itself says auth is "via session cookie
  # (console)" — so something has to issue that cookie. These are the endpoints
  # task 0.7 adds; docs/open-questions.md Q4 records why they live in `api`
  # rather than in the console.
  #
  # None of them is under `security`: they are how a caller GETS a session, so
  # requiring one would be circular. That is why each declares `security: []`.
  /auth/magic-link:
    post:
      operationId: requestMagicLink
      tags: [auth]
      summary: Email a sign-in link
      description: |
        Always answers 202, whether or not the address has an account. A
        different response for a known address would turn this into a way to
        test whether a given person has one.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [email]
              properties:
                email:
                  type: string
                  format: email
                  maxLength: 320
      responses:
        "202":
          description: The request was accepted. No indication of whether an email was sent.
        "422": { $ref: "#/components/responses/Invalid" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /auth/magic-link/verify:
    post:
      operationId: verifyMagicLink
      tags: [auth]
      summary: Exchange a link token for a session
      description: |
        Single-use. An unknown, spent or expired token is answered identically,
        so the endpoint cannot be used to learn which a captured token was.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [token]
              properties:
                token:
                  type: string
                  minLength: 43
                  maxLength: 43
      responses:
        "200":
          description: |
            Signed in. Sets the session cookie: httpOnly, SameSite=Lax and, in
            production, Secure with the `__Host-` prefix (SPEC 8).
          headers:
            Set-Cookie:
              schema: { type: string }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AuthSession" }
        "401": { $ref: "#/components/responses/Unauthenticated" }

  /auth/google/start:
    get:
      operationId: startGoogleSignIn
      tags: [auth]
      summary: Begin Google OAuth
      description: |
        Redirects to Google with a CSRF `state` and a PKCE challenge, both held
        in short-lived httpOnly cookies. 404 when Google sign-in is not
        configured, so a deployment without credentials degrades to magic links
        rather than to a broken redirect.
      security: []
      responses:
        "303":
          description: Redirect to Google.
          headers:
            Location:
              schema: { type: string, format: uri }
        "404": { $ref: "#/components/responses/NotFound" }

  /auth/google/callback:
    get:
      operationId: completeGoogleSignIn
      tags: [auth]
      summary: Complete Google OAuth
      security: []
      parameters:
        - name: code
          in: query
          schema: { type: string }
        - name: state
          in: query
          schema: { type: string }
        - name: error
          in: query
          description: Set by Google when the user declined.
          schema: { type: string }
      responses:
        "303":
          description: |
            Redirect back into the console, signed in or not. A redirect rather
            than a body because the browser arrives here by navigation.
          headers:
            Location:
              schema: { type: string, format: uri }
            Set-Cookie:
              schema: { type: string }

  /auth/session:
    get:
      operationId: getAuthSession
      tags: [auth]
      summary: Who am I
      responses:
        "200":
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AuthSession" }
        "401": { $ref: "#/components/responses/Unauthenticated" }
    delete:
      operationId: signOut
      tags: [auth]
      summary: Sign out
      description: |
        Idempotent: signing out when already signed out answers 204. Clears the
        cookie with attributes matching the ones it was set with, or the browser
        treats it as a different cookie and leaves the original in place.
      responses:
        "204":
          description: Signed out.
          headers:
            Set-Cookie:
              schema: { type: string }

  /orgs:
    post:
      operationId: createOrg
      tags: [orgs]
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateOrgRequest" }
      responses:
        "201":
          description: Created. The caller becomes its owner.
          content: { application/json: { schema: { $ref: "#/components/schemas/Org" } } }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/Invalid" }

  /orgs/{org}/members:
    parameters: [{ $ref: "#/components/parameters/Org" }]
    get:
      operationId: listOrgMembers
      tags: [orgs]
      responses:
        "200":
          description: Members of the org.
          content:
            application/json:
              schema:
                type: object
                properties:
                  members: { type: array, items: { $ref: "#/components/schemas/OrgMember" } }
                  page: { $ref: "./common.schema.json#/components/schemas/Page" }
                required: [members, page]
        "403": { $ref: "#/components/responses/Forbidden" }

  /orgs/{org}/invites:
    parameters: [{ $ref: "#/components/parameters/Org" }]
    post:
      operationId: createInvite
      tags: [orgs]
      description: Requires `owner` or `admin` (SPEC 8). Writes an audit_log row.
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateInviteRequest" }
      responses:
        "201":
          description: Invite created and email queued.
          content: { application/json: { schema: { $ref: "#/components/schemas/Invite" } } }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/Invalid" }

  # Four paths SPEC 7.1 does not list, each required by something it or SPEC 8
  # does. Recorded here rather than implemented quietly, because an endpoint
  # that exists and is not in the contract is an endpoint no generated client
  # can reach.
  /orgs/{org}/members/{user}:
    parameters:
      - { $ref: "#/components/parameters/Org" }
      - name: user
        in: path
        required: true
        x-go-name: MemberUserIdParam
        schema: { $ref: "./common.schema.json#/components/schemas/Uuid" }
    patch:
      operationId: changeMemberRole
      tags: [orgs]
      description: |
        SPEC 8 audits "role change", which requires it to be possible. Requires
        `admin`; only an `owner` may grant or revoke ownership, or an admin
        could manufacture someone able to do the two things 8 reserves.

        Refuses to demote the last owner: an org with no owner has nobody who
        can bill, delete or transfer it.
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [role]
              properties:
                role: { $ref: "./common.schema.json#/components/schemas/Role" }
      responses:
        "204": { description: Changed, or already that role. }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
    delete:
      operationId: removeOrgMember
      tags: [orgs]
      description: |
        SPEC 8 audits "member removal". Requires `admin`; only an `owner` may
        remove an owner, and the last owner cannot be removed at all.
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      responses:
        "204": { description: Removed. }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }

  /invites/accept:
    post:
      operationId: acceptInvite
      tags: [orgs]
      description: |
        Redeems an invitation token. SPEC 8 requires invitations, and an
        invitation nobody can accept is not one.

        Authenticated but NOT org-scoped: the invitee is not a member yet, which
        is the whole point, so the token is the authorisation. Single-use, and
        unknown, spent, revoked and expired are one answer so the endpoint
        cannot be used to learn which a captured token was.
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [token]
              properties:
                token: { type: string, minLength: 43, maxLength: 43 }
      responses:
        "204": { description: Joined. }
        "401": { $ref: "#/components/responses/Unauthenticated" }

  /templates:
    get:
      operationId: listTemplates
      tags: [projects]
      description: The gallery behind `/new` (SPEC 18). Only `available` templates are returned.
      responses:
        "200":
          description: Templates and their current versions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  templates: { type: array, items: { $ref: "#/components/schemas/Template" } }
                required: [templates]

  /projects:
    parameters: [{ $ref: "#/components/parameters/OrgContext" }]
    get:
      operationId: listProjects
      tags: [projects]
      description: |
        Not in SPEC 7.1, which jumps from creating a project to fetching one by
        slug. The console cannot render a project picker without it, and SPEC 8
        puts org switching in that picker.

        Archived projects are omitted. They remain reachable by slug, so the
        console can still show one that was archived by mistake.
      responses:
        "200":
          description: The org's projects.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [projects, page]
                properties:
                  projects: { type: array, items: { $ref: "#/components/schemas/Project" } }
                  page: { $ref: "./common.schema.json#/components/schemas/Page" }
        "403": { $ref: "#/components/responses/Forbidden" }
    post:
      operationId: createProject
      tags: [projects]
      description: |
        SPEC 7.1 takes either a template version or a prompt, never both: with a
        prompt the agent selects the template itself. SLO is p50 < 10s to first
        preview (SPEC 17.3), which is why this returns as soon as the project
        and branch rows exist rather than waiting for a sandbox.
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateProjectRequest" }
      responses:
        "201":
          description: Created.
          content: { application/json: { schema: { $ref: "#/components/schemas/Project" } } }
        "402": { $ref: "#/components/responses/PaymentRequired" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/Invalid" }

  /projects/{project}:
    parameters:
      - { $ref: "#/components/parameters/Project" }
      - { $ref: "#/components/parameters/OrgContext" }
    get:
      operationId: getProject
      tags: [projects]
      responses:
        "200":
          description: The project and its branches.
          content: { application/json: { schema: { $ref: "#/components/schemas/Project" } } }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      operationId: deleteProject
      tags: [projects]
      description: |
        Requires `owner` (SPEC 8). Archives rather than erasing: SPEC 19.3 asks
        how long a suspended project's data is kept and how the user is warned
        before deletion, so erasure is a separate retention job.
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      responses:
        "204": { description: Archived. }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /projects/{project}/sessions:
    parameters: [{ $ref: "#/components/parameters/Project" }]
    post:
      operationId: createSession
      tags: [sessions]
      description: |
        Acquires a sandbox through sandboxd and returns the control-plane
        session. SPEC 19.4: a second concurrent session on one project is
        refused with a clear message rather than allowed to corrupt the tree.
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateSessionRequest" }
      responses:
        "201":
          description: Session created; the sandbox may still be starting.
          content: { application/json: { schema: { $ref: "#/components/schemas/AuthSession" } } }
        "402": { $ref: "#/components/responses/PaymentRequired" }
        "409": { $ref: "#/components/responses/Conflict" }

  /projects/{project}/sessions/{session}/events:
    parameters:
      - { $ref: "#/components/parameters/Project" }
      - { $ref: "#/components/parameters/Session" }
    get:
      operationId: streamSessionEvents
      tags: [sessions]
      description: |
        Server-sent events. SPEC 3.1 chose SSE over WebSockets: it survives
        proxies better and needs no reconnect protocol of our own beyond
        `Last-Event-ID`.

        The body is an SSE stream, not JSON, so it is typed as a string here on
        purpose. Each frame's `data:` payload conforms to
        `agent-events.schema.json`, and `id:` is monotonic so a client resumes
        exactly where it left off. Decoders must ignore unknown event `type`
        values rather than failing (SPEC 7.2).
      parameters:
        - name: Last-Event-ID
          in: header
          required: false
          schema: { type: string }
          description: Resume point from a dropped connection.
      responses:
        "200":
          description: The event stream.
          content:
            text/event-stream:
              schema: { type: string }
        "404": { $ref: "#/components/responses/NotFound" }

  /projects/{project}/sessions/{session}/turns:
    parameters:
      - { $ref: "#/components/parameters/Project" }
      - { $ref: "#/components/parameters/Session" }
    post:
      operationId: createTurn
      tags: [sessions]
      description: |
        Sends a prompt. Places a hold at the p75 estimated cost before work
        starts and settles at actual (SPEC 16.1). Returns immediately; progress
        arrives on the event stream.
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateTurnRequest" }
      responses:
        "202":
          description: Turn accepted and running.
          content: { application/json: { schema: { $ref: "#/components/schemas/Turn" } } }
        "402": { $ref: "#/components/responses/PaymentRequired" }
        "409":
          description: |
            A turn is already running in this session, or the write lease is
            held by a human.
          content:
            {
              application/json:
                { schema: { $ref: "./common.schema.json#/components/schemas/ErrorResponse" } },
            }

  /projects/{project}/sessions/{session}/abort:
    parameters:
      - { $ref: "#/components/parameters/Project" }
      - { $ref: "#/components/parameters/Session" }
    post:
      operationId: abortTurn
      tags: [sessions]
      description: |
        Interrupts the running turn. The hold settles at actual usage: SPEC 16.5
        never charges for our own failures, but a user-requested abort did
        consume tokens.
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      responses:
        "202": { description: Abort requested. }
        "404": { $ref: "#/components/responses/NotFound" }
        "409":
          description: No turn is running.
          content:
            {
              application/json:
                { schema: { $ref: "./common.schema.json#/components/schemas/ErrorResponse" } },
            }

  /projects/{project}/sessions/{session}/lease:
    parameters:
      - { $ref: "#/components/parameters/Project" }
      - { $ref: "#/components/parameters/Session" }
    post:
      operationId: requestLease
      tags: [sessions]
      description: |
        Acquires or releases the write lease. SPEC 18: a request to take over
        while the agent is mid-turn is granted at the end of the current turn,
        never by interrupting it, and the editor is never left silently
        rejecting writes.
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/LeaseRequest" }
      responses:
        "200":
          description: Current lease state, which may be `pending` for a takeover.
          content: { application/json: { schema: { $ref: "#/components/schemas/Lease" } } }
        "404": { $ref: "#/components/responses/NotFound" }

components:
  securitySchemes:
    sessionCookie:
      type: apiKey
      in: cookie
      name: halyard_session
      description: httpOnly, SameSite=Lax, rotating (SPEC 8).
    bearerToken:
      type: http
      scheme: bearer
      description: Personal access token, for the future CLI (SPEC 7.1).

  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      schema: { type: string, minLength: 8, maxLength: 255 }
      description: Replaying a key returns the original response instead of acting twice (SPEC 7.1, 17.2).
    Org:
      name: org
      in: path
      required: true
      x-go-name: OrgSlugParam
      schema: { $ref: "./common.schema.json#/components/schemas/Slug" }
    Project:
      name: project
      in: path
      required: true
      x-go-name: ProjectSlugParam
      schema: { $ref: "./common.schema.json#/components/schemas/Slug" }
    OrgContext:
      name: X-Halyard-Org
      in: header
      required: false
      x-go-name: OrgContextHeader
      description: |
        Which organisation the request is about, by slug.

        SPEC 7.1's project paths take a project SLUG, and SPEC 6 makes a project
        slug unique only WITHIN an org (`unique (org_id, slug)`). So
        `/v1/projects/{project}` is ambiguous for a user who belongs to two orgs
        that each have a project of that name — and 7.1 defines no way to say
        which, even though SPEC 8 requires "org switching in the project
        picker", which means the console has a current org to send.

        Optional, so single-org callers stay on the path 7.1 specifies. A
        request without it resolves across the caller's memberships and is
        refused with `ambiguous_project` (409) only if genuinely ambiguous —
        never served against a guess, because that would mean acting on the
        wrong tenant's project. It also selects the org for routes that name
        none, such as creating a project.

        See docs/open-questions.md Q6.
      schema: { $ref: "./common.schema.json#/components/schemas/Slug" }
    Session:
      name: session
      in: path
      required: true
      x-go-name: SessionIdParam
      schema: { $ref: "./common.schema.json#/components/schemas/Uuid" }

  responses:
    Invalid:
      description: The request was understood but is not valid.
      content:
        {
          application/json:
            { schema: { $ref: "./common.schema.json#/components/schemas/ErrorResponse" } },
        }
    Forbidden:
      description: Authenticated, but this role may not do this (SPEC 8).
      content:
        {
          application/json:
            { schema: { $ref: "./common.schema.json#/components/schemas/ErrorResponse" } },
        }
    NotFound:
      description: |
        No such resource, or none visible to this org. Cross-tenant reads are
        indistinguishable from absence on purpose.
      content:
        {
          application/json:
            { schema: { $ref: "./common.schema.json#/components/schemas/ErrorResponse" } },
        }
    Conflict:
      description: The resource's current state does not allow this.
      content:
        {
          application/json:
            { schema: { $ref: "./common.schema.json#/components/schemas/ErrorResponse" } },
        }
    Unauthenticated:
      description: |
        No valid session. One response for a missing cookie, an unknown token,
        an expired session and a revoked one: the caller's next step is the same
        in every case, and distinguishing them would say whether a captured
        token was ever real.
      content:
        {
          application/json:
            { schema: { $ref: "./common.schema.json#/components/schemas/ErrorResponse" } },
        }
    RateLimited:
      description: |
        Too many requests. Carries Retry-After, so a client waits rather than
        spinning (SPEC 18: an error says what to do about it).
      headers:
        Retry-After:
          schema: { type: integer }
      content:
        {
          application/json:
            { schema: { $ref: "./common.schema.json#/components/schemas/ErrorResponse" } },
        }
    PaymentRequired:
      description: |
        Insufficient credits to place a hold. SPEC 16.3: exhausting the build
        meter pauses the builder, which is harmless because the user is at the
        keyboard.
      content:
        {
          application/json:
            { schema: { $ref: "./common.schema.json#/components/schemas/ErrorResponse" } },
        }

  schemas:
    AuthSession:
      title: AuthSession
      description: |
        The signed-in user. Named AuthSession rather than Session because
        `Session` already means an AGENT session here — a project, a branch, a
        sandbox (SPEC 6) — and the two are unrelated. The same collision is why
        migration 00014 calls its table `user_sessions`.

        Deliberately NOT the session token or its id: the console needs neither,
        and a body carrying one would put a credential into anything that
        logged a response.
      type: object
      additionalProperties: false
      required: [user, orgs]
      properties:
        user: { $ref: "#/components/schemas/AuthUser" }
        orgs:
          description: |
            Every org the user belongs to, with their role in each. SPEC 8:
            users may belong to many orgs, and the project picker switches
            between them — so the console needs the whole list on load rather
            than one request per org.
          type: array
          items: { $ref: "#/components/schemas/AuthOrgMembership" }

    AuthUser:
      title: AuthUser
      type: object
      additionalProperties: false
      required: [id, email]
      properties:
        id: { $ref: "./common.schema.json#/components/schemas/Uuid" }
        email: { type: string, format: email }
        name: { type: [string, "null"] }

    AuthOrgMembership:
      title: AuthOrgMembership
      description: One org the signed-in user belongs to, and their role in it.
      type: object
      additionalProperties: false
      required: [id, slug, name, role]
      properties:
        id: { $ref: "./common.schema.json#/components/schemas/Uuid" }
        slug: { $ref: "./common.schema.json#/components/schemas/Slug" }
        name: { type: string }
        role: { $ref: "./common.schema.json#/components/schemas/Role" }

    Org:
      type: object
      properties:
        id: { $ref: "./common.schema.json#/components/schemas/Uuid" }
        name: { type: string, minLength: 1 }
        slug: { $ref: "./common.schema.json#/components/schemas/Slug" }
        plan: { type: string }
        created_at: { $ref: "./common.schema.json#/components/schemas/Timestamp" }
      required: [id, name, slug, plan, created_at]
      additionalProperties: false

    CreateOrgRequest:
      type: object
      properties:
        name: { type: string, minLength: 1, maxLength: 200 }
        slug: { $ref: "./common.schema.json#/components/schemas/Slug" }
      required: [name]
      additionalProperties: false

    OrgMember:
      type: object
      properties:
        user_id: { $ref: "./common.schema.json#/components/schemas/Uuid" }
        email: { type: string, format: email }
        name: { type: [string, "null"] }
        role: { $ref: "./common.schema.json#/components/schemas/Role" }
      required: [user_id, email, role]
      additionalProperties: false

    CreateInviteRequest:
      type: object
      properties:
        email: { type: string, format: email }
        role: { $ref: "./common.schema.json#/components/schemas/Role" }
      required: [email, role]
      additionalProperties: false

    Invite:
      type: object
      properties:
        id: { $ref: "./common.schema.json#/components/schemas/Uuid" }
        email: { type: string, format: email }
        role: { $ref: "./common.schema.json#/components/schemas/Role" }
        expires_at: { $ref: "./common.schema.json#/components/schemas/Timestamp" }
      required: [id, email, role, expires_at]
      additionalProperties: false

    Template:
      type: object
      properties:
        id: { type: string, pattern: "^[a-z][a-z0-9-]*$" }
        display_name: { type: string, minLength: 1 }
        summary: { type: string }
        current_version: { $ref: "#/components/schemas/TemplateVersion" }
      required: [id, display_name, current_version]
      additionalProperties: false

    TemplateVersion:
      type: object
      properties:
        id: { $ref: "./common.schema.json#/components/schemas/Uuid" }
        version: { type: string, minLength: 1 }
        image_ready:
          type: boolean
          description: Whether the pre-baked sandbox image exists. Without it, project creation misses the p50 < 10s SLO (SPEC 9, 17.3).
      required: [id, version, image_ready]
      additionalProperties: false

    CreateProjectRequest:
      description: Exactly one of `template_version_id` or `prompt` (SPEC 7.1).
      oneOf:
        - title: CreateProjectFromTemplate
          type: object
          properties:
            org_id: { $ref: "./common.schema.json#/components/schemas/Uuid" }
            name: { type: string, minLength: 1, maxLength: 200 }
            template_version_id: { $ref: "./common.schema.json#/components/schemas/Uuid" }
          required: [org_id, name, template_version_id]
          additionalProperties: false
        - title: CreateProjectFromPrompt
          type: object
          properties:
            org_id: { $ref: "./common.schema.json#/components/schemas/Uuid" }
            name: { type: string, minLength: 1, maxLength: 200 }
            prompt: { type: string, minLength: 1, maxLength: 20000 }
          required: [org_id, prompt]
          additionalProperties: false

    Project:
      type: object
      properties:
        id: { $ref: "./common.schema.json#/components/schemas/Uuid" }
        org_id: { $ref: "./common.schema.json#/components/schemas/Uuid" }
        name: { type: string }
        slug: { $ref: "./common.schema.json#/components/schemas/Slug" }
        default_branch: { type: string }
        git_authority:
          $ref: "#/components/schemas/GitAuthority"
        branches: { type: array, items: { $ref: "#/components/schemas/Branch" } }
        archived_at: { $ref: "./common.schema.json#/components/schemas/Timestamp" }
        created_at: { $ref: "./common.schema.json#/components/schemas/Timestamp" }
      required: [id, org_id, name, slug, default_branch, git_authority, created_at]
      additionalProperties: false

    GitAuthority:
      title: GitAuthority
      # `type` alongside `enum`, without which oapi-codegen emits
      # `type GitAuthority = interface{}` — an untyped value for a
      # two-member enum, which gives a Go client nothing to switch on and a
      # TypeScript client no union. The enum alone is valid JSON Schema and
      # useless as a generated type.
      type: string
      enum: [internal, github]
      description: |
        SPEC 5.5: exactly one owner per project at all times. Once GitHub is
        linked it becomes authoritative and the internal store is a cache plus
        outbound queue. Dual authority on one branch is a split-brain bug
        factory; do not build it.

    Branch:
      type: object
      properties:
        id: { $ref: "./common.schema.json#/components/schemas/Uuid" }
        name: { type: string, minLength: 1 }
        head_sha: { $ref: "./common.schema.json#/components/schemas/GitSha" }
      required: [id, name]
      additionalProperties: false

    CreateSessionRequest:
      type: object
      properties:
        branch: { type: string, minLength: 1 }
      required: [branch]
      additionalProperties: false

    Session:
      type: object
      properties:
        id: { $ref: "./common.schema.json#/components/schemas/Uuid" }
        project_id: { $ref: "./common.schema.json#/components/schemas/Uuid" }
        branch_id: { $ref: "./common.schema.json#/components/schemas/Uuid" }
        state: { $ref: "#/components/schemas/SessionState" }
        lease: { $ref: "#/components/schemas/Lease" }
        started_at: { $ref: "./common.schema.json#/components/schemas/Timestamp" }
      required: [id, project_id, branch_id, state, started_at]
      additionalProperties: false

    SessionState:
      title: SessionState
      enum: [starting, live, idle, stopped, failed]
      description: Mirrors sessions.state in SPEC 6.

    Lease:
      type: object
      description: SPEC 5.4 keeps this behind an interface so Redis can be swapped for Durable Objects in phase 6.
      properties:
        holder: { $ref: "#/components/schemas/LeaseHolder" }
        pending_holder:
          $ref: "#/components/schemas/LeaseHolder"
        expires_at: { $ref: "./common.schema.json#/components/schemas/Timestamp" }
      required: [holder]
      additionalProperties: false

    LeaseHolder:
      title: LeaseHolder
      enum: [agent, human, none]

    LeaseRequest:
      type: object
      properties:
        action: { title: LeaseAction, enum: [acquire, release] }
      required: [action]
      additionalProperties: false

    CreateTurnRequest:
      type: object
      properties:
        prompt: { type: string, minLength: 1, maxLength: 100000 }
      required: [prompt]
      additionalProperties: false

    Turn:
      type: object
      properties:
        id: { $ref: "./common.schema.json#/components/schemas/Uuid" }
        seq: { type: integer, minimum: 1 }
        actor: { $ref: "#/components/schemas/TurnActor" }
        status: { $ref: "#/components/schemas/TurnStatus" }
        checkpoint_sha: { $ref: "./common.schema.json#/components/schemas/GitSha" }
        credits_charged: { $ref: "./common.schema.json#/components/schemas/Credits" }
        started_at: { $ref: "./common.schema.json#/components/schemas/Timestamp" }
        ended_at: { $ref: "./common.schema.json#/components/schemas/Timestamp" }
      required: [id, seq, actor, status, started_at]
      additionalProperties: false

    TurnActor:
      title: TurnActor
      enum: [user, agent]

    TurnStatus:
      title: TurnStatus
      enum: [running, done, failed, aborted, budget_exceeded]
      description: Mirrors turns.status in SPEC 6.
